= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .simple_form-inputs
    .container-sm
      .col-md-6.col-sm-12
        .row
          = f.input :username
        .row
          = f.input :password
        .row  
          = f.input :password_confirmation
        .row  
          = f.input :email
        .row
          = f.input :address
        .row
          = f.input :phone
        .row  
          = f.input :gender
        .row  
          = f.input :birthdate
  %br
  .form-actions
    .col-md-6.col-sm-12
      .d-grid.gap-2.d-md-flex.justify-content-md-center
        %input.btn.btn-outline-success{:type => "submit", :value => "OK"}/
        %a.btn.btn-outline-primary{:href => main_path, :role => "button"} cancel